.element__like {
    background-color: transparent;
    background-image: url(../../../images/Vector-heart.svg);
    width: 22px;
    height: 19px;
    background-size: cover;
    margin: auto 0;
    border: 0;
}

.element__like:hover {
    transition: .3s;
    opacity: 0.5;
    cursor: pointer;
}

/*
.element__like:focus {
    background-image: url(../../../images/blackHeart.png);
} */
